body {
    background-color: rgb(36, 36, 36);
    color: #F5F5F5;
    font-family: ubuntu;
}

.button-panel {
    display: inline-block;
    font-family: ubuntu;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
    vertical-align: right;
    user-select: none;
    background-color: #006CBE;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    cursor: pointer;
}

.button-panel:hover {
    transition: 1.5s;
    background-color: rgb(11, 2, 138);
}

.button-panel-back {
    display: inline-block;
    font-family: ubuntu;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
    vertical-align: right;
    user-select: none;
    background-color: #be9b00;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    cursor: pointer;
}

.button-panel-back:hover {
    transition: 1.5s;
    background-color: rgb(202, 0, 0);
}

td, th {
    border: 1px solid #F5F5F5;
    padding: .7em;
    margin: 0;
    /*border: 1px solid #ccc;*/
    text-align: center;
  }
  
  th{
    font-weight:bold;
    /*background-color: #EEE;*/
  }
  td{
    font-weight:bold;
    /*background-color: #EEE;*/
  }
  
  table{
    border: 1px solid #F5F5F5;
    width: auto;
    margin: 20px 20px 20px 20px;
    table-layout: fixed;
    text-align: center;
  }

#content-input {
    margin: 20px 20px 20px 20px;
    display: inline-block !important;
    align-items: center;
}

input {
    font-family: ubuntu;
    width: 100%;
    height: 32px;
    background: #424242;
    color: #F5F5F5;
    font-size: 18px;
    margin-top: 12px;
    margin-bottom: 18px;
}

#modal {
    box-sizing: border-box;
    margin-top: 10px;
    width: 800px;
    height: 550px;
    background-color: rgba(54, 54, 54, 0.671);
}