<!DOCTYPE html>
<html lang="pt_br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Agenda - Racheltex</title>
    
        <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/responsive.css">
    </head>

    <body>

        <div id="content-panel">
            <a href="/create-record"><button class="button-panel">Adicionar</button></a>
            <!--<button class="button-panel-back">Voltar</button>-->
        </div>
    
        <div>
            <table>
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Telefone 1</th>
                    <th scope="col">Telefone 2</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Cidade</th>
                    <th scope="col">UF</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Guilherme</th>
                    <td>(19)9999999</td>
                    <td>(19)3333333</td>
                    <td>guile.ferrari@hotmail.com</td>
                    <td>Capivari</td>
                    <td>SP</td>
                  </tr>
                </tbody>
              </table>
        </div>
    
    </body>
    
</html>