<!DOCTYPE html>
<html lang="pt_br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Agenda - Racheltex</title>
    
        <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/responsive.css">
    </head>

    <body>

        <div id="content-panel">
            <a href="/create-record"><button class="button-panel">Adicionar</button></a>
            <!--<button class="button-panel-back">Voltar</button>-->
        </div>
    
        <div>
            <table>
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Telefone 1</th>
                    <th scope="col">Telefone 2</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Cidade</th>
                    <th scope="col">UF</th>
                  </tr>
                </thead>
                <tbody>

                  {% for record in records %}
                    <tr>
                      <th scope="row">{{ record.name }}</th>
                      <td>{{ record.telephone1 }}</td>
                      <td>{{ record.telephone2 }}</td>
                      <td>{{ record.email }}</td>
                      <td>{{ record.city }}</td>
                      <td>{{ record.state }}</td>
                    </tr>
                  {% endfor %}
        
                </tbody>
              </table>
        </div>
    
    </body>
    
</html>